.context-menu{
    background-color: violet;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
  
}
table.context-menu {
    border-collapse: collapse;
  }
  
  .context-menu tr:hover {
    background-color: #d09ef0;
    border-radius: 8px;

    
  }

  .facilityIcon{
margin-right: 10px;
height: 16px;
  }