<div class="card">
    <div class="card-header">
        <h4 class="card-title">{{venue.name}}</h4>
        <p class="card-category">{{venue.description}} </p>
    </div>
    <div class="card-body">

        <div class="contact-details">
        <div>Adres:  {{venue.city}}, {{venue.street}} {{venue.houseNumber}}</div>
        <div>Adres email: {{venue.emailAddress}}</div>
        <div>Strona www: {{venue.webPage}}</div>
    </div>


        <div *ngIf="venue.ratingsCount > 0">
                <span>Oceny: </span>
        <div *ngFor="let valueRating of valueRatings" class="progress-bar-warapper row">
                <div class="col-3 star-column">
            <div >{{valueRating.ratingValue}} <span style="color:gold">&#9733;</span> </div> 
        </div>
     
        <div class="col-6 wrapper-column">
            <progressbar title="{{valueRating.count}}" type="warning" [value]=" valueRating.count/venue.ratingsCount *100"></progressbar>        
        </div>
        <div class="col-1 count-column">
            <span> {{valueRating.count}}</span>
        </div  >

          </div>
        </div>
        <button mat-raised-button class="btn btn-primary" (click)="getComments()">Pokaż opinie</button>
        

        <div>
        <div *ngFor="let opinion of opinions" class="row">
            <div class="col-12">
                <div class="card">
                 
                    <div class="card-body">
                        <h5 *ngIf="opinion.usersRating > 0"> Użytkownik {{opinion.userName}} ocenił na {{opinion.usersRating}} <span style="color:gold">&#9733;</span></h5>
                        <h5 *ngIf="opinion.usersRating === 0"> Użytkownik {{opinion.userName}} brak oceny <span style="color:gold">&#9733;</span></h5>

                        <div><b>Komentarz:</b> </div>
                        {{opinion.contents}}
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>
</div>