progressbar{
    height: 7px;
    
}
.progress-bar-warapper{
    width: 80%;
}
.wrapper-column{
    margin: auto 0px;
    margin-right: -25px;
 }
 .star-column{
    margin-right: -45px
 }
 .contact-details{
     margin-bottom: 10px;
 }